<div id="consultant-call" class="well well-lg">
    <div class="container">
        <h3>{{sentence}}</h3>
        <h4>Proteja quem você ama, a central está sempre disponível, não deixe pra depois</h4>
        <p>{{#link-to 'contact' class='btn btn-primary btn-outline btn-lg'}}Fale com nosso consultor{{/link-to}}</p>
    </div>
</div>