.navbar {
    @media (max-width: $screen-xs) {
        margin-bottom: 0 !important;
        background: #f9f9f9 !important;
    }

    @media (min-width: $screen-sm) {
        margin-top: 10px;
    }
}

.navbar-brand {
    @media (min-width: $screen-sm) {
        padding-top: 10px !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    @media (max-width: $screen-xs) {
        float:none !important;
        display: block;
        padding: 32px 0 0 0 !important;
        height: auto !important;
    }
}

.navbar-header {
    @media (max-width: $screen-sm) {
        float: left;
        width: 66%;
        margin: 0 !important;
    }
}

.navbar-nav {
    @media (min-width: $screen-xs) {
        font-size: 1.08em;

        li {
            margin: 0 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        li > a {
            padding-right: 0 !important;
            padding-left: 0 !important;
            color: $brand-primary !important;
            text-transform: uppercase;
            font-weight: bold;
        }

        li.active > a {
            background: none !important;
            color: inherit !important;
        }

        li > a:before {
            @include transition(opacity .3s ease);
            position: absolute;
            opacity: 0;
            content: " ";
            bottom: 32px;
            width: 100%;
            height: 1px;
            background: #EEE;
        }

        li.active > a:before {
            opacity: 1;
        }
    }

    @media (max-width: $screen-sm) {
        font-size: 1em;
        margin-bottom: 10px !important;
    }
    
    @media (min-width: $screen-lg) {
        font-size: 1.3em;
    }
}

.navbar-collapse {
    width: 100%;

    ul.navbar-nav {
        margin: 0;
    }
}