<div class="container products">

    <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Produtos<br /><small>Tecnologia de ponta pra socorrer quem precisa de cuidados especiais</small></h2>
            </div>
        </div>
    </section>

    {{product-list products=model}}

</div>