<div class="container">

    <section class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>OMT <small>Orientação Médica por Telefone</small></h2>
            </div>
        </div>

        <div class="col-md-7">
            <p>A Telecuidar disponibiliza aos seus clientes - 24 horas por dia, 365 dias ao ano - um médico orientador responsável
                por sanar dúvidas relacionadas à saúde e orientar como proceder em casos de acidentes.</p>
            <p>Tira suas dúvidas referente a medicamentos, informe os principais sintomas, previna o avanço ou surgimento de
                novas doenças.</p>
        </div>
        <div class="col-md-5">
            <img src="/images/omt/logo.png" alt="OMG" class="img-responsive img-rounded" />
        </div>

        <div class="col-lg-12 col-xs-12">
            <h3>Quando usar?</h3>
            <ul>
                <li>Sempre que tiver um problema de saúde;</li>
                <li>Sempre que não estiver passando bem em qualquer lugar e não souber se deve ou não procurar atendimento
                    médico;
                </li>
                <li>Gestantes podem sanar dúvidas;</li>
                <li>Mães que desejam saber de cuidados básicos com filhos (amamentação e alimentação);</li>
                <li>Quando não souber qual médico especialista procurar, logo depois de sentir um desconforto e não identificar
                    a origem do mesmo;</li>
                <li>Quando tiver doença crônica (diabetes, hipertensão, obesidade, etc.)</li>
                <li>Caso queira orientação sobre doenças, alimentação ou sobre a dosagem dos medicamentos.</li>
            </ul>

        </div>

        <div class="col-lg-12 col-xs-12">

            <h3>Recebendo o atendimento</h3>
            <ol>
                <li>Ligue para a Central de Atendimento, você receberá seu número na contratação do serviço;</li>
                <li>Informe o seu nome completo e data de nascimento;</li>
                <li>Você será direcionado para um médico em pronto atendimento para fazer a consulta por telefone.</li>
            </ol>
        </div>


    </section>

</div>