<div class="container">

    <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>Benefícios</h1>
            </div>
        </div>
    </section>
</div>

<div class="page-bg text-center"></div>

<div class="container benefits">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-signal" aria-hidden="true"></i> Cobertura</h3>
            <p>O usuário pode estar distante até 100 metros do console, garantindo excelente cobertura dentro da residência.</p>
        </div>

        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-user-secret" aria-hidden="true"></i> Privacidade</h3>
            <p>A privacidade sempre será preservada: o sistema não usa câmeras.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-battery-full" aria-hidden="true"></i> Praticidade</h3>
            <p>Não necessita ser recarregado, conta com uma bateria que dura até três anos.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Independência</h3>
            <p>O sistema traz tranquilidade para a família e permite uma vida com autonomia para o usuário.</p>
        </div>
        
        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-user" aria-hidden="true"></i> Personalização</h3>
            <p>Atendimento personalizado: o cliente escolhe as pessoas de sua confiança que poderão ajudar em caso de emergência.
            </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-medkit" aria-hidden="true"></i> Agilidade</h3>
            <p>Atendimento ágil para um socorro mais rápido, que resulta em mais vidas salvas.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-life-ring" aria-hidden="true"></i> Confiança</h3>
            <p>Atendimento 24 horas por dia, 7 dias por semana. Pronta para ajudar em questões de saúde, emergência e segurança.
            </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-bath" aria-hidden="true"></i> Conforto</h3>
            <p>O botão de ajuda é discreto e não atrapalha em nada as atividades do usuário: pode ser usado como pingente
                ou pulseira. É à prova d’água e pode ser usado no banho ou ao lavar a louça.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3><i class="fa fa-money" aria-hidden="true"></i> Economia</h3>
            <p>O serviço pode reduzir custos: podendo diminuir a carga horária de cuidadores e pode adiar uma mudança para um lar de idosos.
            </p>
        </div>
    </div>

    <hr />

    <div class="page-subheader text-center">
        <h2>Pra você: segurança e independência.<br />Pra sua família: tranquilidade e economia.</h2>
    </div>

</div>