<div class="container how-it-work">

    <section class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>
                    Como funciona<br />
                    <small>Passo a passo da instalação ao atendimento de emergência</small>
                </h2>
            </div>
        </div>

        <div class="col-lg-8 col-md-8">
            <dl class="steps">
                <dt>Botão de Ajuda</dt>
                <dd>O cliente recebe um botão de emergência à prova d’água no formato de pulseira ou pingente de pescoço.</dd>

                <dt>Console de Comunicação</dt>
                <dd>É instalado o aparelho na residência do cliente, ligado a linha do telefone fixo.</dd>

                <dt>Acionando o Botão</dt>
                <dd>Em uma emergência o usuário aperta o botão do pingente ou pulseira.</dd>

                <dt>Acionando a Central</dt>
                <dd>O aparelho disca automaticamente para a central 24 horas, através da linha de telefone fixo.</dd>

                <dt>Central de Atendimento</dt>
                <dd>Os atendentes falam com o usuário através de um potente viva voz no aparelho.</dd>

                <dt>Plano de Ação</dt>
                <dd>Caso o usuário não possa falar, os atendentes acionam ajuda através do plano de emergência pré-definido pelo
                    cliente.
                </dd>
            </dl>
        </div>

        <div class="col-lg-4 col-md-4 concepts">
            <div class="col-lg-12">
                <i class="sprite sprite-doutor"></i>
                <h3>Botão de Ajuda</h3>
            </div>

            <div class="col-lg-12">
                <i class="sprite sprite-console"></i>
                <h3>Console de Comunicação</h3>
            </div>

            <div class="col-lg-12">
                <i class="sprite sprite-atendente"></i>
                <h3>Central de Teleassistência</h3>
            </div>
        </div>
    </section>

    <section class="row ilustration">
        <div class="col-lg-12">

            <div class="page-header">
                <h3>Ilustração</h3>
            </div>

            <p class="text-center">
                <img src="/images/comofunciona/ilustracao.png" class="img-responsive" alt="Botão e pingente de ajuda sendo acionados pelos transmissores sem fio, console, linha telefônica e central de monitoramento"
                />
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Imprensa</h3>
            </div>
        </div>

        <div class="col-lg-7 col-md-7">
            <h4>Monitoramento de Pessoas Idosas</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vn-I3JnFjsA?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-lg-5 col-md-5">
            <h4>Você sabia?</h4>
            <p>Em pesquisa realizada na Universidade FUMEC em Belo Horizonte, MG.
                Foi relatado como sendo as fraturas mais comuns na terceira idade:</p>
            <ul>
                <li>Fêmur</li>
                <li>Quadril</li>
                <li>Braços</li>
                <li>Antebraço</li>
            </ul>
            <p>O estudo também afirma a ocorrência maior de quedas em mulheres do que em homens.</p>
            <p>Artigo Ciêntifico: <a href="http://www.scielo.br/scielo.php?script=sci_arttext&pid=S1809-98232011000200017" rel="nofollow" target="_blank">Consequências das quedas em idosos</a></p>
        </div>

    </section>

</div>