<div class="container home">

    <section class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="page-header">
                <h1>Botão de Emergência<br /><small>Assista como funciona <i class="fa fa-arrow-right hidden-xs"></i></small></h1>
            </div>

            <p>Garanta uma Central de Monitoramento disponível <strong>24 horas por dia</strong> para ajudar quem você ama.</p>
            
            <ul>
                <li>{{link-to 'Passo a passo' 'how-it-work'}}</li>
                <li>{{link-to 'Orientação Médica por Telefone' 'products.omt'}}</li>
                <li>{{link-to 'Todos os benefícios' 'benefits'}}</li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-7 col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZjF_tfKjC_s?rel=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>
    
    <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Escolha um dos Modelos</h2>
            </div>
        </div>

        <div class="col-md-4">
            <h4>Características comuns</h4>
            <ul>
                <li>Bateria durável até 3 anos</li>
                <li>Cobertura até 100m do console</li>
                <li>Prova d'água</li>
            </ul>

            <div class="clearfix"></div>
            <h5>Plano de Emergência</h5>
            <p>Confira o {{#link-to 'how-it-work'}}passo a passo{{/link-to}} após o acionamento do botão.</p>

            <div class="clearfix"></div>
            <h5 class="anatel"><span>Homologado</span> <img src="/images/home/anatel.png" al="Anatel" width="150" height="37" /></h5>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>Pulseira <small>modelo</small></h4>
            <img src="/images/home/pulseira.jpg" al="Pulseira de Emergência" class="img-responsive" />
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>Pingente <small>modelo</small></h4>
            <img src="/images/home/pingente.jpg" al="Pingente de Emergência" class="img-responsive" />
        </div>

    </section>

    <section class="row testimony-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Depoimentos</h2>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="media">
                <div class="media-left text-center col-lg-3 col-md-3 col-xs-12 ">
                    <p><img class="image-responsive img-rounded" src="/images/depoimentos/maria-helena.jpg" alt="Maria Helena" width="70"></p>
                    <h4 class="media-heading">Maria Helena<br /><small>70 anos</small></h4>
                </div>
                <div class="media-body">
                    <p>Moro com minha filha, porém ela trabalha e tem os seus afazeres, com o botão de ajuda me sinto mais segura, 
                        meus familiares com mais independência e tranquilidade. Também já tirei dúvidas sobre medicamentos com o 
                        médico orientador.</p>
                    <p>Confesso que o investimento está valendo a pena, pois uma vida não tem preço. Recomendo para quem deseja ter mais segurança.</p>
                </div>
            </div>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-md-6 col-sm-12">
            <div class="media">
                <div class="media-left text-center col-lg-3 col-md-3 col-xs-12">
                    <p><img class="image-responsive img-rounded" src="/images/depoimentos/antonio-catena.jpg" alt="Antonio Catena" width="70"></p>
                    <h4 class="media-heading">Antonio Catena<br /><small>76 anos</small></h4>
                </div>
                <div class="media-body">
                    <p>Tive um mal súbito no banheiro, só me lembro de ter apertado o botão, quando acordei meus familiares já estavam comigo, 
                        o pessoal da Central de Monitoramento foi muito rápido.</p>
                    <p>Por sorte não sofri nenhuma fratura, de toda forma estou mais tranquilo sabendo que posso contar com essa tecnologia.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row partner-section">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Parceiros</h2>
            </div>

            <p>Entidades parceiras oferecem descontos exclusivos aos seus associados em planos da Telecuidar.</p>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <a href="http://www.apcefpb.org.br?utm_source=telecuidar&utm_medium=link&utm_campaign=Parceiros" target="_blank" rel="nofollow" class="thumbnail">
                    <img src="/images/parceiros/apcef.png" alt="APCEF Paraíba" class="img-responsive" />
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <a href="http://astra13.com.br?utm_source=telecuidar&utm_medium=link&utm_campaign=Parceiros" target="_blank" rel="nofollow" class="thumbnail">
                    <img src="/images/parceiros/astra13.png" alt="Associação dos Servidores do TRT 13 Região de João Pessoa" class="img-responsive" />
                </a>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <a href="http://bancariospb.com.br?utm_source=telecuidar&utm_medium=link&utm_campaign=Parceiros" target="_blank" rel="nofollow" class="thumbnail">
                    <img src="/images/parceiros/bancariospb.png" alt="Sindicato dos Bancários PB" class="img-responsive" />
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                {{#link-to 'contact' class='thumbnail text-center your-company'}}
                    <i class="fa fa-4x fa-building-o" aria-hidden="true"></i><br />
                    <strong>Sua Empresa</strong><br />
                    Seja nosso parceiro!
                {{/link-to}}
            </div>
        </div>
    </section>
</div>