{{outlet}}

<div id="benefit" data-section="beneficios">
    <div class="container">
       <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="animate-box" data-animate-effect="fadeIn">Página não encontrada</h2>
                <div class="row animate-box" data-animate-effect="fadeIn">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>
                           Se o problema persistir, por favor nos avise.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>