<div class="container press">

    <section class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Kit de Imprensa</h2>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-9">
            <h4>Contato</h4>
            <p>
                Silvio Alves<br />
                <a href='mailt&#111;&#58;%6&#51;%6&#70;n&#116;a%74o&#64;tel&#37;65c&#117;idar%2E%6&#51;om&#46;br'>cont&#97;t&#111;&#64;t&#101;l&#101;cu&#105;da&#114;&#46;c&#111;m&#46;&#98;&#114;</a>
            </p>

            <hr />

            <h4>Localização</h4>
            <p>Rua Empresário PMD'Oliveira, 564<br /> Portal do Sol<br /> João Pessoa, PB<br /> CEP 58046-520
            </p>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <p>Telecuidar é uma prestadora de serviço de teleassistência e revendedora de produtos para saúde. Tendo como público
                alvo pessoas que moram sozinhas e podem passar por situações de emergência. Por exemplo: idosos, pessoas
                com dificuldades de locomoção, gestantes de risco.
            </p>
            <p>Nosso modelo de atendimento é inspirado nas melhores empresas americanas e europeias, o conceito é baseado em
                três elementos: botão de ajuda, console de comunicação e central de teleassistência 24 horas. Somos pioneiros
                neste serviço na capital paraibana, possuímos parcerias estratégicas com diversas associações, tais como
                APCEF, ASTRA e Sindicato dos Bancários.
            </p>
            <p>Apesar das limitações físicas, idosos da nova geração preferem morar sozinhos do que com os filhos ou em casas
                de repouso mesmo correndo sérios riscos ao optar pela vida independente. Cerca de 70% da entrada de idosos
                em hospitais é consequência das quedas e da falta de socorro rápido. Segundo o <em>The New England Journal of
                Medicine</em> (EUA), 67% das pessoas que sofrem quedas e ficam sem socorro por mais de 72 horas têm morte prematura,
                enquanto que, entre os que foram atendidos em menos de uma hora, a estatística diminuiu para 12%.</p>
        </div>

    </section>

    <section class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-header">
                <h3>Logomarca</h3>
            </div>
            <p>
                <img class="img-responsive" src="/images/logo.png" alt="Telecuidar" width="350" />
            </p>
            <p><br /><a class="btn btn-default" href="/press/logo.zip"><i class="fa fa-download" aria-hidden="true"></i> Download</a></p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-header">
                <h3>Material Impresso</h3>
            </div>

            <p>
                <img src="/images/kit-de-imprensa/cartaz1.png" alt="Cartaz Telecuidar" height="86" class="poster" />
            </p>

            <p><br /><a class="btn btn-default" href="/press/cartaz1.pdf"><i class="fa fa-download" aria-hidden="true"></i> Download</a></p>
        </div>
    </section>


</div>