<div class="container">

    <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h2>Tecnologia</h2>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <img src="/images/tecnologia/vovo-com-sua-neta-no-tablet.jpg" height="299" alt="Vovó com sua neta aprendendo tecnologia" class="img-responsive">
            </div>
            <div class="col-md-7 col-md-push-1">
                <h2>Conceito</h2>
                <p>Inspirados em um conceito que nasceu nos Estados Unidos e na Europa, utilizamos a tecnologia para melhorar
                    a qualidade de vida e dar mais segurança a idosos, gestantes ou pessoas com dificuldade de locomoção.</p>
                <p>Nosso objetivo é dar segurança aos nossos clientes e levar tranquilidade a seus familiares e amigos. Por
                    isso, garantimos atendimento com rapidez e eficiência, com uma equipe dedicada e cuidadosa com um padrão
                    de qualidade internacional.</p>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 col-md-push-8 animate-box" data-animate-effect="fadeInRight">
                <img src="/images/tecnologia/atendente-comercial.jpg" alt="Atendende comercial" class="img-responsive img-shadow">
            </div>
            <div class="col-md-7 col-md-pull-4">
                <h2>Atendimento Emergencial</h2>
                <p>Nossa central trabalha 24 horas por dia, 7 dias por semana. Cada ligação é personalizada e o profissional
                    conclui o caso apenas quando o usuário já foi atendido ou quando a situação foi resolvida.</p>
                <p><a href="tecnologia#tecnologia-step3" class="btn btn-primary" data-nav-section="tecnologia-step3">Mais detalhes <i class="icon-arrow-down" aria-hidden="true"></i></a></p>
            </div>

        </div>
    </section>

    <section class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <img src="/images/tecnologia/telecuidar-embaixo-dagua.jpg" alt="Pingente embaixo d'agua'" class="img-responsive img-embaixo-dagua">
            </div>
            <div class="col-md-7 col-md-push-2 prova-dagua">
                <h2>À prova d'água</h2>
                <p>Tanto o pingentes quanto a pulseira são resistentes à água e podem ser usados em áreas como banheira ou chuveiro
                    ou em tarefas como lavar a louça.</p>
                <p>{{#link-to 'contact' class='btn btn-primary'}}Contratar{{/link-to}}</p>
            </div>
        </div>
    </section>

    </div>